
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

html{
  height: 100%;
}
body {
  font-family: 'Raleway';
  height: 100%;
  background: url("img/cloud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment:  fixed;  
}
.container {
  max-width: 400px;
  min-width: 400px;
}
.title {
  font-size: 40px;
  letter-spacing: -1px;
  color: white;
  text-shadow: 6px 4px 8px #2f92a9;
  letter-spacing: 1px;
  top : 10px;
}
.form-rounded {
  border-radius: 2em;
  background: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 80px;
} 
.card-back {
  border-radius: 40px !important;
  height: 570px;
  background: rgba(255, 255, 255, -100);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 80px;
}
.icon-container {
  border-radius: 100%;
  width: 120px;
  height: 120px;
  background: rgb(145 ,144 ,144, 5%);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 80px;
  backdrop-filter: blur(10px);
  position: all;
  top: 15px;
  left:20px;
} 
.icon-container img {
  margin: auto;
} 
.city-name {
  position: absolute;
  margin: center;
  width: 96%;
  background: rgba(255, 255, 255, 0.1);
  height: 160px;
  left: 8px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 30px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  color: white;
  text-shadow: 1px 2px 3px #444343;
}
.city-name p {
  font-size: 26pt;
  font-weight: 450;
  text-align: center;
  position: relative;
  top: -80px;
  left: 70px;
}
.city-name span {
  font-size: 20pt;
  font-weight: 400;
  text-align: center;
  position: relative;
  top: -100px;
  right: -64px;
}
.temp span {
  font-weight:350;
  font-size: 40pt;
  letter-spacing: -5px;
  white-space: nowrap;
  position: relative;
  top: -50px;
  right: 105px;
} 
.temp p {
  font-weight: 400;
  font-size: 20pt;
  letter-spacing: 0px;
  position: relative;
  top: -75px;
  left: 60px;
} 
.card-middle {
  line-height: 0.5;
  position: relative;
  top : 250px;
  left: 40px;
  text-align:center;
  color: white;
  text-shadow: 1px 2px 3px #444343;
}
.weather-condition {
  line-height: 1em;
  font-weight: 700;
  font-size: 1em;
  text-transform: capitalize;
}
.high{
  font-size: 18pt;
  position: relative;
  top: -50px;
}
.low{
  font-size: 18pt;
  position: relative;
  top: -45px;
}
.hum{
  font-size: 18pt;
  position: relative;
  top: -40px;
}
.clouds {
  font-size: 18pt;
  position: relative;
  top: -35px;
}
.card-bottom {
  line-height: 0.5;
  position: relative;
  bottom: -240px;
  color: white;
  font-weight: 500;
}
.card-bottom span {
  font-size: 16px;
  text-shadow: -2px 1px 2px #000000;
}
.card-bottom p {
  font-size: 30px;
  letter-spacing: -1px;
  text-shadow: 1px 2px 3px #444343;
}
.bg-img-container {
   background-image: url(img/weather1.jpg); 
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 45px;
}